#container
{
width: 90%;
margin: 10px auto;
background-color: #fff;
color: #333;
border: 1px solid grey;
line-height: 130%;
}

#top
{
padding: .5em;
background-color: #ddd;
border-bottom: 1px solid grey;
}

#top h1
{
padding: 0;
margin: 0;
}

#leftnav
{
float: left;
width: 160px;
margin: 0;
padding: 1em;
}

